@use "../abstracts";

.pet {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding-bottom: 50px;
    background: var(--product-detail-bg);
    &__container {
        margin-top: 30px;
        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
